/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;800&display=swap');


/* Viewport */
body{
  /* border: 2px solid purple; */
  margin: 0 auto;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

/* Page Layout */
header{
  margin: 0 auto;
  padding: 6px;
  text-align: center;
  width: 100%;
  border-bottom: 4px solid black;
}
main{
  /* border: 2px solid green; */
  margin: 1% auto;
  padding: 1%;
  max-width: 1000px;
}
section{
  /* border: 2px solid orange; */
  margin: 1% auto;
  padding: 2%;
}
article{
  /* border: 2px solid pink; */
  border-top: 2px solid black;
  padding: 2%;
  text-align: center;
}

article.home {
  border: none;
}
footer{
  margin: 0 auto;
  padding: 6px;
  text-align: center;
  width: 100%;
  border-top: 4px solid black;
  position: ;
}

/* Links */
a{}
a:link {}
a:active {}
a:visited {
  text-decoration: none;
}
a#getStarted {
  padding: 10px 20px;
  background-color: black;
  border: 2px solid black;
  color: white;
  text-decoration: none;
  font-size: 150%;
}
a:hover#getStarted {
  background-color: white;
  color: black;
}
/* Typography */
p {}
br {}
ol, ul, dl {}
li {}
dt {}
dd {}
h1, h2, h3, h4, h5, h6 {
}
h1{
  font-weight: 800;
}
h2, h3, h4, h5, h6 {
  font-weight: 600;
}
h2.home{
  font-size: 200%;
  text-align: center;
}
abbr {}
acronym {}
address {}
blockquote {}
  q {}
  cite {}
em {}
hr {}
mark {}
s {}
span {}
strong {}
sub {}
sup {}
time {}

/* Form */
form{}
fieldset{
  border: none;
}
  legend{}
label{}
button{
  margin-top: 40px;
  padding: 8px 16px;
  background-color: black;
  color: white;
  border: 2px solid black;
}
button:hover{
  cursor: pointer;
  background-color: white;
  color: black;
}
input{
  font-family: inherit;
  font-size: 115%;
  padding: 3px 6px;
}
input[type=text]{
  height: 30px;
  width: 150px;
}
input[type=text]#userMovies {
  height: 30px;
  width: 300px;
}
select{}
  optgroup{}
  option{}
textarea{}
output{}
meter{}
progress{}
:focus{}